@charset "utf-8";

.json-container {
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 40px;
  line-height: 24px;
}

.json-container #jsonpOpener,#jsonpCloser {
  padding: 4px 0 0 8px;
  color: #000;
  margin-bottom: -6px
}

.json-container #jsonpCloser {
  margin-top: 0
}

.json-container #formattedJson {
  padding-left: 28px;
  padding-top: 6px
}

.json-container pre {
  padding: 36px
}

.json-container .kvov {
  display: block;
  padding-left: 20px;
  margin-left: -20px;
  position: relative;
  white-space: pre-wrap;
}

.json-container .collapsed {
  white-space: nowrap
}

.json-container .collapsed>.blockInner {
  display: none
}

.json-container .collapsed>.ell:after {
  content: "…";
  font-weight: bold
}

.json-container .collapsed>.ell {
  margin: 0 4px;
  color: #888
}

.json-container .collapsed .kvov {
  display: inline
}

.json-container .expander {
  width: 20px;
  height: 18px;
  position: absolute;
  left: -1px;
  top: 4px;
  z-index: 5;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpiYGBgOADE%2F3Hgw0DM4IRHgSsDFOzFInmMAQnY49ONzZRjDFiADT7dMLALiE8y4AGW6LoBAgwAuIkf%2F%2FB7O9sAAAAASUVORK5CYII%3D") no-repeat center center;
  display: block;
  opacity: 0.15
}

.json-container .collapsed>.expander {
  -webkit-transform: rotate(-90deg);
}

.json-container .expander:hover {
  opacity: 0.35
}

.json-container .expander:active {
  opacity: 0.5
}

.json-container .collapsed .kvov .expander {
  display: none
}

.json-container .blockInner {
  display: block;
  padding-left: 24px;
  border-left: 1px dotted #bbb;
  margin-left: 2px;
  position: relative;
}

.json-container #formattedJson,#jsonpOpener,#jsonpCloser {
  color: #333;
  font: 13px/18px monospace
}

.json-container #formattedJson {
  color: #444
}

.json-container .b {
  font-weight: bold
}

.json-container .s {
  color: #0B7500;
  word-wrap: break-word
}

/* a:link,a:visited { */
/* 	text-decoration: none; */
/* 	color: inherit */
/* } */

/* a:hover,a:active { */
/* 	text-decoration: underline; */
/* 	color: #050 */
/* } */

.json-container .bl,.nl,.n {
  font-weight: bold;
  color: #1A01CC
}

.json-container .k {
  color: #000
}

.json-container #formattingMsg {
  font: 13px "Lucida Grande", "Segoe UI", "Tahoma";
  padding: 10px 0 0 8px;
  margin: 0;
  color: #333
}

.json-container #formattingMsg>svg {
  margin: 0 7px;
  position: relative;
  top: 1px
}

.json-container [hidden] {
  display: none !important
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

.json-container .spinner {
  -webkit-animation: spin 2s 0 infinite
  //animation: spin 0.5s;
  //-moz-animation: spin 0.5s;
  //-webkit-animation: spin 0.5s;
  //-o-animation: spin 0.5s;
}

.json-string {
  color: #0B7500;
}

.json-boolean, .json-number {
  font-weight: bold;
  color: #1A01CC;
}
