@charset "utf-8";

.half_min_width {
  width: 30%;
}

.half_max_width {
  width: 60%;
}

.left {
  width: 46%;
  display: inline-block;
  vertical-align: top;
  padding-right: 1%;
}

.right {
  width: 52%;
  display: inline-block;
  vertical-align: top;
}
