@charset "utf-8";

/*样式在下面完成*/
.datagrid-container {

}

.datagrid-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #6d6d6d;
}

.datagrid-title-text {
  padding: 15px;
  border-left: 3px solid #4786ff;
}

.datagrid-toolbar {
  width: 100%;
  height: 60px;
  padding: 15px;
  border-bottom: none;
}

.datagrid-toolbar-button {
}

.datagrid-checkbox {
  width: 20px;
  zoom: 1.5;
}

.datagrid-frame {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

.datagrid-header {
  font-size: 15px;
  padding: 15px;
}

.datagrid-header-row {
  border: 1px solid #ddd;
}

.datagrid-header-cell {
  text-align: center;
  line-height: 1.42857143;
  cursor: pointer;
  padding: 15px;
  white-space: nowrap;
}

.datagrid-header-check {
  width: 30px;
  text-align: center;
}

.datagrid-body {
  text-align: center;
}

.datagrid-body-row, .datagrid-body-row-child {
  border: 1px solid #ddd;
}

.datagrid-body-row:hover {
  background: rgba(230, 230, 230, 0.31) !important;
}

.datagrid-body-td {
  padding: 15px;
}

.datagrid-body-cell {
  max-height: 80px;
  overflow-y: auto;
}
.datagrid-body-cell::-webkit-scrollbar {
  width: 3px;
}

.datagrid-body-cell::-webkit-scrollbar-thumb {
  background: rgba(68, 54, 54, 0.1);
}

.datagrid-body-cell::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.11);
}

.datagrid-action {
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  color: darkblue;
  margin: 0 7px;
}

.datagrid-footer {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}

.datagrid-row-expander-all, .datagrid-row-expander {
  cursor: pointer;
  width: 46px;

  span {
    display: inline-block;
    padding: 15px;
  }
}
