@charset "utf-8";

.preset_params_key {
  width: 25%;
}

.preset_params_value {
  width: 35%;
}

.el-form-item .el-form-item {
  margin-bottom: 11px;
}

.preset_params_value_title {
  display: inline-block;
  width: 83px;
  height: 40px;
  position: relative;
  top: -1px;
  right: -6px;
}

.container {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
}
