@charset "utf-8";

.edit-node-dialog .el-form-item {
  margin-bottom: 16px;
}

.param-value {
  width: 450px !important;
}

.param-key {
  width: 230px !important;
}

.param-label {
  width: 50px !important;
}
