<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.EndMapper">
    <resultMap type="com.gomcarter.developer.entity.End" id="endMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="prefix" property="prefix"/>
        <result column="jar_url" property="jarUrl"/>
        <result column="kls" property="kls"/>
        <result column="method" property="method"/>
        <result column="args" property="args"/>
        <result column="header" property="header"/>
        <result column="mark" property="mark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="getByPrefix" resultMap="endMap">
        SELECT * FROM `end` WHERE prefix = #{prefix}
    </select>

</mapper>
