<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.RulesMapper">
    <resultMap type="com.gomcarter.developer.entity.Rules" id="rulesMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="generator" property="generator"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.gomcarter.developer.entity.Rules" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        rules
        (name,generator,create_time,modify_time)
        VALUES
        (#{name},#{generator},#{createTime},#{modifyTime})
    </insert>

    <update id="update" parameterType="com.gomcarter.developer.entity.Rules">
        UPDATE
        rules
        SET
            name=#{name},
            generator=#{generator},
            create_time=#{createTime},
            modify_time=#{modifyTime}
        WHERE
        id = #{id}
    </update>

    <select id="getById" parameterType="Long" resultMap="rulesMap">
        SELECT * FROM rules WHERE id = #{id}
    </select>

    <select id="getByIdList" parameterType="Long" resultMap="rulesMap">
        SELECT * FROM rules
        WHERE
        id in (
        <foreach collection="idList" item="_id_" index="index" separator=",">
        #{_id_}
        </foreach>
        )
    </select>

    <select id="query" resultMap="rulesMap">
        SELECT
        *
        <include refid="querySql"/>
        order by ${pager.orderColumn} ${pager.orderType}
        LIMIT #{pager.startNum},#{pager.pageCount}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(id)
        <include refid="querySql"/>
    </select>

    <sql id="querySql">
        FROM
        rules
        <where>
            <if test="params.id != null">
                id = #{params.id}
            </if>
            <if test="params.name != null">
                and name = #{params.name}
            </if>
            <if test="params.generator != null">
                and generator = #{params.generator}
            </if>
            <if test="params.createTime != null">
                and create_time = #{params.createTime}
            </if>
            <if test="params.modifyTime != null">
                and modify_time = #{params.modifyTime}
            </if>
        </where>
    </sql>
</mapper>
