@charset "utf-8";
.min_width{
  width: 500px;
}
.half_min_width{
  width: 220px;
}

.half_max_width{
  width: 430px;
}

.hole_min_width{
  width: 560px;
}

.left {
  width: 46%;
  display:  inline-block;
  vertical-align: top;
}

.right {
  width: 52%;
  display:  inline-block;
  vertical-align: top;
}
