@charset "utf-8";
.pager {
  font-size: 15px;
  color: #666666;
  margin: 10px 10px;
  box-sizing: border-box;
  text-align: right;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.pager-rows {
  width: 70px;
}

.pager-rows-option {

}

.pager-btn-enable {
  background-color: white;
  min-width: 30px;
  height: 28px;
  border: 1px solid #0073A9 !important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 27px;
  color: #0073A9;
  font-size: 13px;
  display: inline-block;
}

.pager-btn-enable:hover {
  background-color: #3674F4;
  border-color: #3674F4;
  color: #FFFFFF !important;
}

.pager-btn-disable {
  color: gray !important;
  background-color: #f2f6f7 !important;
  min-width: 30px;
  height: 28px;
  border: 1px solid #cacaca !important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  font-size: 13px;
  display: inline-block;
}

.pager-first {
  width: 50px;
}

.pager-previous {
  width: 70px;
}

.pager-current {
  width: 60px;
  text-align: center;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }
  -webkit-appearance: none;
  -moz-appearance:textfield;
  -webkit-box-sizing: border-box;

  border-radius: 3px;
  line-height: 20px;
  background: #fff none;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.pager-next {
  width: 70px;
}

.pager-last {
  width: 50px;
}

.pager-page {
  margin: 0 10px;
}

.pager-total {
  margin: 0 10px;
}

.pager-page-num {
  color: #0073A9;
  margin: 0 5px;
}

.pager-total-num {
  color: #0073A9;
  margin: 0 5px;
}
