@charset "utf-8";

.container {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  padding: 0;
}

.el-aside {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  padding: 10px;
  margin-left: 10px;
}

.el-form-item .el-form-item {
  margin-bottom: 22px;
}

.simple {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.waiting {
  background: yellow;
}

.running {
  background: yellowgreen;
}

.success {
  background: green;
}

.failed {
  background: red;
}
