<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.EndAuthMapper">
    <resultMap type="com.gomcarter.developer.entity.EndAuth" id="endMap">
        <id column="id" property="id"/>
        <result column="user" property="user"/>
        <result column="fk_end_id" property="fkEndId"/>
        <result column="config" property="config"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
</mapper>
