<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author gomcarter on 2020-01-06 10:09:59 -->
<mapper namespace="com.gomcarter.developer.dao.FunctionMapper">
    <resultMap type="com.gomcarter.developer.entity.Function" id="functionMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="script_text" property="scriptText"/>
        <result column="arguments" property="arguments"/>
        <result column="mark" property="mark"/>
        <result column="user_name" property="userName"/>
        <result column="is_public" property="isPublic"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <!-- //@NotReplaceableStart -->
    <!-- 重新生成代码时，NotReplaceableStart -> NotReplaceableEnd 中间的内容不会被覆盖 -->


    <!-- //@NotReplaceableEnd  -->
</mapper>
