<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.InterfacesMapper">
    <resultMap type="com.gomcarter.developer.entity.Interfaces" id="interfacesMap">
        <id column="id" property="id"/>
        <result column="hash" property="hash"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="method" property="method"/>
        <result column="deprecated" property="deprecated"/>
        <result column="mark" property="mark"/>
        <result column="returns" property="returns"/>
        <result column="parameters" property="parameters"/>
        <result column="fk_java_id" property="fkJavaId"/>
        <result column="fk_end_id" property="fkEndId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <update id="setDeprecatedByJavaId">
        UPDATE
            interfaces
        SET
            deprecated=true
        WHERE
            fk_java_id=#{javaId}
    </update>

    <select id="getByHash" resultMap="interfacesMap">
      select * from interfaces where hash = #{hash} order by id desc limit 1
    </select>

    <select id="getByUrl" resultMap="interfacesMap">
      select * from interfaces where url = #{url} and method = #{method} order by id desc limit 1
    </select>

</mapper>
