<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author gomcarter on 2019-12-13 11:24:57 -->
<mapper namespace="com.gomcarter.developer.dao.InterfacesVersionedMapper">
    <resultMap type="com.gomcarter.developer.entity.InterfacesVersioned" id="interfacesVersionedMap">
        <id column="id" property="id"/>
            <result column="fk_interfaces_id" property="fkInterfacesId"/>
            <result column="name" property="name"/>
            <result column="controller" property="controller"/>
            <result column="url" property="url"/>
            <result column="method" property="method"/>
            <result column="deprecated" property="deprecated"/>
            <result column="mark" property="mark"/>
            <result column="returns" property="returns"/>
            <result column="parameters" property="parameters"/>
            <result column="fk_java_id" property="fkJavaId"/>
            <result column="fk_end_id" property="fkEndId"/>
            <result column="create_time" property="createTime"/>
            <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <!-- //@NotReplaceableStart -->
    <!-- 重新生成代码时，NotReplaceableStart -> NotReplaceableEnd 中间的内容不会被覆盖 -->


    <!-- //@NotReplaceableEnd  -->
</mapper>
