<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.JavaMapper">
    <resultMap type="com.gomcarter.developer.entity.Java" id="javaMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="alias" property="alias"/>
        <result column="dev_domain" property="devDomain"/>
        <result column="test_domain" property="testDomain"/>
        <result column="prev_domain" property="prevDomain"/>
        <result column="online_domain" property="onlineDomain"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

</mapper>
