<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.TestCaseMapper">
    <resultMap type="com.gomcarter.developer.entity.TestCase" id="testCaseMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="preset_params" property="presetParams"/>
        <result column="user_name" property="userName"/>
        <result column="mark" property="mark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
</mapper>
