<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gomcarter.developer.dao.ValidatorMapper">
    <resultMap type="com.gomcarter.developer.entity.Validator" id="validatorMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="handler" property="handler"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

</mapper>
