<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiayo.developer.dao.ValidatorMapper">
    <resultMap type="com.yiayo.developer.entity.Validator" id="validatorMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="handler" property="handler"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.yiayo.developer.entity.Validator" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        validator
        (name,handler,create_time,modify_time)
        VALUES
        (#{name},#{handler},#{createTime},#{modifyTime})
    </insert>

    <update id="update" parameterType="com.yiayo.developer.entity.Validator">
        UPDATE
        validator
        SET
            name=#{name},
            handler=#{handler},
            create_time=#{createTime},
            modify_time=#{modifyTime}
        WHERE
        id = #{id}
    </update>

    <select id="getById" parameterType="Long" resultMap="validatorMap">
        SELECT * FROM validator WHERE id = #{id}
    </select>

    <select id="getByIdList" parameterType="Long" resultMap="validatorMap">
        SELECT * FROM validator
        WHERE
        id in (
        <foreach collection="idList" item="_id_" index="index" separator=",">
        #{_id_}
        </foreach>
        )
    </select>

    <select id="query" resultMap="validatorMap">
        SELECT
        *
        <include refid="querySql"/>
        order by ${pager.orderColumn} ${pager.orderType}
        LIMIT #{pager.startNum},#{pager.pageCount}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(id)
        <include refid="querySql"/>
    </select>

    <sql id="querySql">
        FROM
        validator
        <where>
            <if test="params.id != null">
                id = #{params.id}
            </if>
            <if test="params.name != null">
                and name = #{params.name}
            </if>
            <if test="params.handler != null">
                and handler = #{params.handler}
            </if>
            <if test="params.createTime != null">
                and create_time = #{params.createTime}
            </if>
            <if test="params.modifyTime != null">
                and modify_time = #{params.modifyTime}
            </if>
        </where>
    </sql>
</mapper>