@charset "utf-8";

.iw {
  width: 300px;
}

.mt {
  margin-top: 30px;
}

.area-container {
  display: inline-block;
}

.area-container select {
  width: inherit;
  display: inline;
}

.el-input__inner {
  -webkit-appearance: menulist;
}
