@charset "utf-8";

.mark {
  color: darkgray;
  font-style: italic;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.favorite-container {
  border: 1px solid #ddd;
  margin-right: 1%;
}

.api-list-item {
  width: 20%;
}
